<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @season.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @season.image %>
</p>

<p>
  <strong>Show:</strong>
  <%= @season.series_id %>
</p>

<%= link_to 'Edit', edit_show_season_path(@show, @season) %> |
<%= link_to 'Back', show_seasons_path(@show, @season) %>
