<h1>Listing actors</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Role</th>
      <th>Show</th>
      <th>Episode</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.image %></td>
        <td><%= actor.name %></td>
        <td><%= actor.role %></td>
        <td><%= actor.sort_order %></td>
        <td><%= link_to 'Show', actor %></td>
        <td><%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>