<h1>Listing actors</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Role</th>
      <th>Show</th>
      <th>Episode</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |character| %>
      <tr>
        <td><%= character.image %></td>
        <td><%= character.name %></td>
        <td><%= character.role %></td>
        <td><%= character.show_id %></td>
        <td><%= character.episode_id %></td>
        <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character', new_character_path %>
