<h1>Listing episodes</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Overview</th>
      <th>Thumbnail</th>
      <th>Season</th>
      <th>Show</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.number %></td>
        <td><%= episode.name %></td>
        <td><%= episode.overview %></td>
        <td><%= episode.thumbnail %></td>
        <td><%= episode.season_id %></td>
        <td><%= episode.show_id %></td>
        <td><%= link_to 'Show', show_season_episode_path(@show, @season, episode) %></td>
        <td><%= link_to 'Edit', edit_show_season_episode_path(@show, @season, episode) %></td>
        <td><%= link_to 'Destroy', show_season_episode_path(@show, @season, episode), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Episode', new_show_season_episode_path %>
