<h1>Listing episodes</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Overview</th>
      <th>Thumbnail</th>
      <th>Season</th>
      <th>Air date</th>
      <th>Guest stars</th>
      <th>Director</th>
      <th>Writer</th>
      <th>Rating</th>
      <th>Rating count</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.number %></td>
        <td><%= episode.name %></td>
        <td><%= episode.overview %></td>
        <td><%= episode.thumb %></td>
        <td><%= episode.season_id %></td>
        <td><%= episode.air_date %></td>
        <td><%= episode.guest_stars %></td>
        <td><%= episode.director %></td>
        <td><%= episode.writer %></td>
        <td><%= episode.rating %></td>
        <td><%= episode.rating_count %></td>
        <td><%= link_to 'Show', episode_path(episode) %></td>
        <td><%= link_to 'Destroy', episode_path(episode), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>