<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @episode.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @episode.name %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @episode.overview %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @episode.thumbnail %>
</p>

<p>
  <strong>Season:</strong>
  <%= @episode.season_id %>
</p>

<p>
  <strong>Show:</strong>
  <%= @episode.series_id %>
</p>

<%= link_to 'Edit', edit_show_season_episode_path(@show, @season, @episode) %> |
<%= link_to 'Back', show_season_episodes_path %>
