<p id="notice"><%= notice %></p>


<!-- Top Fan Art -->
<div class="row">
  <div class="large-12 columns">
    <!-- Desktop Slider -->

    <div class="hide-for-small">
        <div id="featured">
            <div class="fanart">
                <% fanart = @episode.show.banners.where("banner_type = 'fanart'").first %>
                <%= image_tag(fanart.image_path) %>
                <div class="fanart-overlay">
                    <%= image_tag(@episode.thumb) %>
                    <div class="fanart-description">
                        <div class="fanart-content-episode">
                            <h1><%= @episode.name %></h1>
                            <p><%= @episode.overview %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Desktop Slider -->
    <!-- Mobile Header -->

    <div class="row">
      <div class="small-12 show-for-small"><br>
      <img src="http://placehold.it/1000x600&amp;text=For%20Small%20Screens"></div>
    </div><!-- End Mobile Header -->
  </div>
</div><br>
<!-- END Top Fan Art -->

<div class="row">
    <div class="large-12 columns">
      <h1>Fashions coming soon</h1>
    </div>
</div>
