<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fashion.name %>
</p>

<p>
  <strong>Match:</strong>
  <%= @fashion.match %>
</p>

<p>
  <strong>Charpic:</strong>
  <%= @fashion.charPic %>
</p>

<p>
  <strong>Productpic:</strong>
  <%= @fashion.productPic %>
</p>

<p>
  <strong>Productlink:</strong>
  <%= @fashion.productLink %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @fashion.episode_id %>
</p>

<p>
  <strong>Show:</strong>
  <%= @fashion.series_id %>
</p>

<p>
  <strong>Season:</strong>
  <%= @fashion.season_id %>
</p>

<p>
  <strong>actor:</strong>
  <%= @fashion.actor_id %>
</p>

<%= link_to 'Edit', edit_show_season_episode_fashion_path(@show, @season, @episode, @fashion) %> |
<%= link_to 'Back', show_season_episode_fashions_path %>
