<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @show.name %>
</p>

<p>
  <strong>Banner:</strong>
  <%=  %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @show.overview %>
</p>

<p>
  <strong>Network:</strong>
  <%= @show.network %>
</p>

<p>
  <strong>Airsdayofweek:</strong>
  <%= @show.airs_dayofweek %>
</p>


<p>
  <strong>Genres:</strong>
  <%= @show.genres %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @show.rating %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @show.runtime %>
</p>

<p>
  <strong>episodes:</strong>
  <%= @show.episodes_count %>
</p>

<p>
  <strong>actors:</strong>
  <%= @show.actors_count %>
</p>

<p>
  <strong>Status:</strong>
  <%= @show.status %>
</p>


<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
