<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @show.name %>
</p>

<p>
  <strong>Banner:</strong>
  <%= @show.banner %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @show.overview %>
</p>

<p>
  <strong>Network:</strong>
  <%= @show.network %>
</p>

<p>
  <strong>Airsdayofweek:</strong>
  <%= @show.airsDayOfWeek %>
</p>

<p>
  <strong>Airstime:</strong>
  <%= @show.airsTime %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @show.genres %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @show.rating %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @show.runtime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @show.status %>
</p>

<p>
  <strong>Fanart:</strong>
  <%= @show.fanart %>
</p>

<p>
  <strong>Poster:</strong>
  <%= @show.poster %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
