<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-12 columns">
    <!-- Desktop Slider -->

    <div class="hide-for-small">
      <div id="featured"><img alt="slide image" src="http://placehold.it/1000x400&amp;text=Slide%20Image"></div>
    </div><!-- End Desktop Slider -->
    <!-- Mobile Header -->

    <div class="row">
      <div class="small-12 show-for-small"><br>
      <img src="http://placehold.it/1000x600&amp;text=For%20Small%20Screens"></div>
    </div><!-- End Mobile Header -->
  </div>
</div><br>



<div class="row">
  <div class="large-12 columns">
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-5">
        <% @
    </ul>
  </div>
</div><br>



<p>
  <strong>Name:</strong>
  <%= @show.name %>
</p>

<p>
  <strong>Banner:</strong>
  <%=  %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @show.overview %>
</p>

<p>
  <strong>Network:</strong>
  <%= @show.network %>
</p>

<p>
  <strong>Airsdayofweek:</strong>
  <%= @show.airs_dayofweek %>
</p>


<p>
  <strong>Genres:</strong>
  <%= @show.genres %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @show.rating %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @show.runtime %>
</p>

<p>
  <strong>episodes:</strong>
  <%= @show.episodes_count %>
</p>

<p>
  <strong>actors:</strong>
  <%= @show.actors_count %>
</p>

<p>
  <strong>Status:</strong>
  <%= @show.status %>
</p>


<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
