<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <div class="container">
          
          <!-- Nav Bar -->
        <div class="contain-to-grid fixed">
            <nav class="top-bar" data-topbar>
              <ul class="title-area">
                <li class="name">
                  <h1><%= link_to 'TV Fashion', home_path %></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
              </ul>
            
              <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                  <li class="has-dropdown">
                    <%= link_to 'Login/Account', new_user_session_path %>
                    <ul class="dropdown">
                        <li><a href="#">Settings</a></li>
                        <li><a href="#">Favs</a></li>
                        <li><%= link_to 'Account', edit_user_registration_path %></li>
                        <li><%= link_to 'Log Out', destroy_user_session_path %></li>
                    </ul>
                  </li>
                    <li class="has-form">
                      <div class="row collapse">
                        <div class="large-8 small-9 columns">
                          <input type="text" placeholder="Search">
                        </div>
                        <div class="large-4 small-3 columns">
                          <a href="#" class="small button expand">Search</a>
                        </div>
                      </div>
                    </li>    
                </ul>
            
                <!-- Left Nav Section -->
                <ul class="left">
                    <li class="divider"></li>
                    <li><%= link_to 'Home', home_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "TV Shows", shows_path %></li>
                    <li class="divider"></li>
                    <li><a href="#">New Fashions</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Add Fashion</a></li>
                </ul>
              </section>
            </nav>
        </div>
          <!-- END Nav Bar -->
          
          <!-- Breadcrumbs -->
          <div class="row">
            <div class="large-12 hide-for-small">
                <nav class="breadcrumbs">
                    <a href="#">Home</a>
                    <a href="#">TV Show Name</a>
                    <a class="unavailable" href="#">Season #</a>
                    <a class="current" href="#">Episode #</a>
                    <a class="current" href="#">Fashion Name</a>
                </nav>
            </div>
           </div>
          <!-- END Breadcrumbs -->
          
    <%= yield %>
          
    </div>      
    <%= javascript_include_tag "application" %>
  </body>
</html>